<!DOCTYPE html>
 {% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href={% static 'menu/css/style.css'%} rel="stylesheet">
	</head>

	<body>
		<script src="{% static 'menu/js/script.js'%}"> </script>
		{% for section in section_list %}
			<div class='white section-box shadowed'>
				<h1>{{section.title}}</h1>
				<div class='align_right'>
				{% for option in option_list %}
				{% if option.section == section %}
					{{option.name}}_______________________________{{option.price}} <br>
				{% endif %}
				{% endfor %}
				</div>
			</div>
		{% endfor %}
	</body>
</html>