<!DOCTYPE html>

<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css'%}">
    <title>User Account</title>
</head>

<body>
    <div style="background-color: #edd097; text-align: center;"><h1>User Account</h1></div>

    <h4 style="text-align: left; padding-left: 200px;">
      <form action="{% url 'settings' %}">
			  <input class='navbutton' type="submit" value="Back" />
		  </form>
    </h4>

        <h3>Password</h3>
        <form method="post">
            {% csrf_token %}
    
            {% for field in password_form %}
              <p>
                  {{field.label_tag}}
                  {{field}}
    
                  {% if field.help_text %}
                    <small style="color:grey;">{{field.help_text}}</small>
                  {% endif %}
    
              </p>
            {% endfor %}

            {% for field in password_form %}
              {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
              {% endfor %}
            {% endfor %}

            {% if password_form.non_field_errors %}
              <div style="color:red;">
                <p>{{password_form.non_field_errors}}</p>
              </div>
            {% endif %}

            {% if password_success_message %}
              <p style='color:blue; text-align: center;'>{{ password_success_message }}</p>
            {% endif %}
            <button text="submit">Save New Password</button>
        </form>
</body>


</html>